body {
   background-image: linear-gradient(to right, gainsboro, lightgray);
}

p {
 font-family: Times;
 font-size: 16px;
}

a {
    color: black;
}

h3 {
  text-decoration: underline;
}

.btn-outline-primary {
  border-color: black;
  color: black;
  background-color: silver;
}

.btn-outline-primary:hover {
  border-color: grey;
  background-color: grey;
  color: black;
}

.thick-green-border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
  }
